<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} %p %t %c{40}.%M - %m%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>

	<logger name="gov.usgs" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.mybatis" level="INFO" />
	<logger name="java.sql" level="INFO" />
</configuration>